*.o
*.lo
*.la
.libs/
.deps/

Makefile
config.[0-9]*
config.h
config.log
config.status
stamp-*
faked
fakerootconfig.h
libtool
scripts/fakeroot
simple
test/defs
wrapdef.h
wrapped.h
wrapstruct.h
wraptmpf.h
